



<h1>Alle Tournaments</h1>



<button *ngIf="isAdmin" class="btn btn-primary" [routerLink]="['./add']">
  <i class="glyphicon glyphicon-plus"></i> Hinzufügen
</button>



<my-spinner [isRunning]="isRequesting"></my-spinner>

<table class="table table-inverse table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Datum</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tObj of tournaments; let i = index" [routerLink]="['./', tObj.tournament.id]"
      [style.background-color]="getActiveTournamentStyle(tObj.tournament)"
  >
    <td scope="rowi + 1">{{i+1}}</td>
    <td>{{tObj.tournament.name}}</td>
    <td>{{tObj.tournament.date| amDateFormat:'LL'}}</td>
    <td></td>
  </tr>
  </tbody>
</table>

