<h1>{{tournament.name}}</h1>

<br />
<h3>Matches:</h3>
<div class="row" *ngFor="let match of matches">
  <form [formGroup]="addGoals" (ngSubmit)="submitGoals(match)">
  <div class="col-md-4">
    <div class="text-center">
      <h3>Team 1</h3>
      <div class="members">
        {{match.team1.player1.player.userName}}<br />
        {{match.team1.player2.player.userName}}<br />
        <br />
        <input *ngIf="match.match.hasEnded == false" type="text" formControlName="goalsTeam1"/>
      </div>
    </div>
  </div>

  <div class="col-md-1 text-center" style="margin-top: 24px;">
    <h1>{{match.match.goalsTeam1}}</h1>
  </div>
  <div class="col-md-2" style="padding: 43px 0px;">
    <div class="text-center">
        <h4>vs.</h4>
      <button *ngIf="match.match.hasEnded == false" type="submit" class="btn btn-default">Ergebnis eintragen</button><br />
      <button *ngIf="match.match.hasEnded == false && isAdmin" (click)="endMatch(match)" class="btn btn-default">Match ist beendet</button>
    </div>
  </div>
  <div class="col-md-1 text-center" style="margin-top: 24px;">
    <h1>{{match.match.goalsTeam2}}</h1>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <h3>Team 2</h3>
      <div class="members">
        {{match.team2.player1.player.userName}}<br />
        {{match.team2.player2.player.userName}}<br />

        <input *ngIf="match.match.hasEnded == false" type="text" formControlName="goalsTeam2"/>
      </div>
    </div>
  </div>
  </form>
  <hr style="width: 100%"/>
</div>


