<h1>Alle Spieler</h1>

<button *ngIf="isAdmin" class="btn btn-primary" [routerLink]="['./add']">
<i class="glyphicon glyphicon-plus"></i> Hinzufügen
</button>

<table class="table table-inverse table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>E-Mail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pObj of players; let i = index" [routerLink]="['./', pObj.player.id]">
    <td scope="rowi + 1">{{i+1}}</td>
    <td>{{pObj.player.firstName}} {{pObj.player.lastName}}</td>
    <td>{{pObj.player.email}}</td>
  </tr>
  </tbody>
</table>
